body {
	margin: 35px;
	padding: 40px 60px 40px;
	font-family: Helvetica,Arial,sans-serif;
	width:50%;
 	margin:0 auto;
 	font-size:20px;
 	text-align: center;
}
header {
	font-size: 36px;
	margin-left: -5%;
	text-transform: capitalize;
	margin-bottom:30px;
}
ul {
	list-style-type:none;
	padding: 0;
}
/*#upload {
	position:relative;
	width: 350px;
	height: 365px;
	top: 35px;
	left: 355px;
	display: inline-block;
	border-style: dashed;
	border-color: red;
	display: block;
}
*/img {
	width: 200px;
	height: auto;
	object-fit: contain;
	align-self: center;
	margin-left: -5%;
}
div {
	width:90%;
	margin: 15px;
}