body {
	margin: 35px;
	padding: 40px 60px 40px;
	margin:0 auto;
	font-family: Helvetica,Arial,sans-serif;
 	font-size:20px;
 	text-align: center;
}
#list {
	font-size:16px;
	padding-bottom: 20px;
}
header {
	margin-top: 80px;
	font-size: 3.4vw;
/*	margin-left: -5%;*/
	text-transform: uppercase;
	margin-bottom:30px;
	color: #3b4a4d;
	letter-spacing: 8px;
	font-weight: 700;
}
#list ul {
	list-style-type:none;
	margin: 10px;
	padding: 0;
	letter-spacing: 1px;
/*	margin: 10px;*/
}

.home {
    background-color: #f7f8fa;
}

.container {
    background-color: #fcfcfd;
    border-radius: 25px;
}

.decoration {
	margin: 0 auto;
	display: inline-block;
}

.decoration .d{
	margin-top: 30px;
	border-top: 1px solid;
	display: inline-block;
	color: #3b4a4d;
	opacity: 0.5;
	margin-right: 40px;
	margin-left: 40px; 
}

.decoration header{
	display: inline-block;
}