body {
	margin: 35px;
	padding: 40px 60px 40px;
	font-family: 'Lato', sans-serif;
	/*	font-family: Helvetica,Arial,sans-serif;*/
	/* width:50%; */
	margin:0 auto;
	font-size:20px;
	text-align: center;
	background-color: #fcfcfd;
	color: #3b4a4d;
}
header {
	margin-top: 80px;
	font-size: 36px;
/*	margin-left: -5%;*/
	text-transform: uppercase;
	margin-bottom:30px;
	color: #3b4a4d;
	letter-spacing: 8px;
	font-weight: 700;
}
ul {
	list-style-type:none;
	padding: 0;
}
/*#upload {
	position:relative;
	width: 350px;
	height: 365px;
	top: 35px;
	left: 355px;
	display: inline-block;
	border-style: dashed;
	border-color: red;
	display: block;
}
*/
img {
	width: 200px;
	height: auto;
	object-fit: contain;
	align-self: center;
/*	margin-left: -5%;*/
/*	margin-top: 25px;
	margin-bottom: 25px;*/
}
div {
	/* width:90%; */
	/* margin: 15px; */
}

.home {
    background-color: #f7f8fa;
}

.container {
    background-color: #fcfcfd;
    border-radius: 25px;
}

#upload-display {
	margin-top: 50px;
	margin-bottom: 50px;
}

.decoration {
	display: inline-block;
}

.decoration .d{
	margin-top: 30px;
	border-top: 1px solid;
	display: inline-block;
	color: #3b4a4d;
	opacity: 0.5;
	margin-right: 40px;
	margin-left: 40px; 
}

.decoration header{
	display: inline-block;
}

.group {
	margin-top: 20px;
}

#ingredients-display {
	border-style: solid;
	display: inline-table;
	border-color: rgba(59,74,77, 0.4);
	padding: 5px;
	margin-right: 20px;
	margin-bottom: 10px;
}

b {
	letter-spacing: 2px;
}

#ingredients-display ul {
	text-align: justify;
	/* color: black; */
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 18px;
	margin-bottom: 5px;
	letter-spacing: 1px;
	/* top: 10px; */
}

#steps-display {
	border-style: solid;
	display: inline-table;
	border-color: rgba(59,74,77, 0.4);
	padding: 5px;
	margin-left: 20px;
}

#steps-display ul {
	text-align: justify;
	/* color: black; */
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 18px;
	margin-bottom: 5px;
	letter-spacing: 1px;
	/* top: 10px; */
}

.margin{
	padding: 5px;
}