.col-center {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #ff4431;
  text-color: #3b4a4d;
  border-style: none;
  padding: 15px;
  font-size: 17px;
  margin: 10px 0 15px 0;
  text-align: center;
  display: inline-block;  
}

#ingredients, #steps {
  padding: 15px;
  border-color: rgba(59,74,77, 0.4);
}

#ingredients > form > div,
#steps > form > div {
  padding: 10px 0px;
}


#upload, #title-box {
  text-align: center;
  position: relative;
  height: 33vh;
}

#upload-content-container, #title-content-container {
  border-style: dashed;
  border-color: rgba(59, 74, 77, 0.4);
  height: 33vh;
}

#upload-content, #title-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
}

#upload-content-text {
  padding: 10px 10px;
}