<!DOCTYPE html>
<html lang="en">
	<head> 
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="../static/css/style.css">
	<title> Add Recipe </title>
	</head>
<body class="add-recipe">
	<header> Add a recipe </header>
	<form action="/inputrecipe" method="post">
		<div id="container">
				Title (required) <br>
				<input type="text" name="title" placeholder="Can use up to 3 words"><br>
				<div id="upload"> Upload photo</div>	
				<div id="ingredients">
					Ingredients (one item per line) <br>
					<ul id="ingredients-list">
						<li><input type="text" name="ingredient"></li>
						<li><input type="text" name="ingredient"></li>
						<li><input type="text" name="ingredient"></li>
						<li><input type="text" name="ingredient"></li>
						<li><input type="text" name="ingredient"></li>
					</ul>
				</div>
				<button id="add-more-ingredients"><b>+</b> Add more ingredients</button>
		</div>
		<div id="steps">
				Steps (one step per line) <br>
				<ul id="steps-list">
					<li><input type="text" name="step"></li>
					<li><input type="text" name="step"></li>
					<li><input type="text" name="step"></li>
				</ul>
		</div>
		<ul><button id="add-more-steps"><b>+</b> Add more steps</button></ul>
		<ul><input class="button" id="save" type="submit" value="Save"></ul>
	</form>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="../static/js/script.js"></script>
</body>
</html>

