body {
  font-family: Roboto, sans-serif;
}

input {
  width: 100%;
  padding: 6px 10px;
} 

input.back-btn {
  background-color: #ff4431;
  text-color: #3b4a4d;
  border-style: none;
  padding: 15px;
  font-size: 17px;
  margin: 10px 0 15px 0;
  text-align: center;
  display: inline-block;  
}

input.back-btn:hover {
  color: #555555;
  cursor: pointer;
  text-decoration: none;
}

a {
  color: #333;
}

a:hover {
  text-decoration: none;
}

.col-center {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #ff4431;
  text-color: #3b4a4d;
  border-style: none;
  padding: 15px;
  font-size: 17px;
  margin: 10px 0 15px 0;
  text-align: center;
  display: inline-block;  
}

.buttons a {
  display: inline-block;
}

#ingredients, #steps {
  text-align: center;
  padding: 15px;
  border-color: rgba(59,74,77, 0.4);
}

#ingredients > form > div,
#steps > form > div {
  padding: 10px 0px;

}


#upload, #title-box {
  text-align: center;
  position: relative;
  /*min-height: 60vh;*/
  min-height: 30vh;
  margin-bottom: 20px;
}

#title-content-container {
  height: 30vh;
}

#title-content-container h1 {
  font-size: 2em;
  font-family: Roboto, sans-serif;
  text-transform: none;
}

#upload-content-container {
  border-style: dashed;
  border-color: rgba(59, 74, 77, 0.4);
  /*min-height: 60vh;*/
  min-height: 30vh;
}

#upload-content, #title-content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
}

#upload-content-text {
  padding: 10px 10px;
}

.input-header {
  font-weight: 700;
  font-size: 24px;
}

.view-recipe-image {
  border: none !important;
}

/* Home and container CSS */
.home {
  background-color: #f7f8fa;
  font-family: Roboto, sans-serif;
}

.home h1 {
    font-size: 4em;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.home .container {
    background-color: #fcfcfd;
    box-shadow: 0 0 5px 5px rgba(200,200,200,.05);
    border-radius: 10px;
    margin-top: 20px;
    padding: 0 50px;
}

.home .header {
    background: url("../img/bg.png");
    background-size: 100%;
    background-position: 0px -180px;
    height: 200px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    justify-content: center;
    -webkit-justify-content: center; 
    -webkit-align-items: center;
    align-items: center;
    background-repeat: no-repeat;
}

.home .header-text {
    /*text-align: center;*/
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee;
    color: #ff4431;
}

.home .header .col-lg-6 {
  width: 65%;
}

.header-text img, #add-icon {
  height: 1.2em;
}

.home .header-text a {
  color: #ff4431
}

.header-text a:hover {
  /*color: #555555;*/
  cursor: pointer;
  text-decoration: none;
  contrast: none;
}

/* Title */
.header-text h1 {
  display: inline-block;
}

#settings-icon, #menu-icon {
    height: 2.5em;
    position: relative;
    top: 50%;
    transform: translateY(100%);
    float: right;
}

#menu-icon {
  display: none;
}

#upload-content-container img {
  max-height: 40vh;
}

.home input:hover {
    background: #fafaf5;
    /*box-shadow: 0 0 0 5px #fafaf5;*/
    border-radius: 1px;
}

.home input {
  padding-left: 5px;
  background-color: #f7f8fa;
  border: 1px solid #CCBFBF;
  height: 7vh;
  font-size: 18px;
}

input:focus, button:focus {
    outline: none;
}

button:hover {
  background-color: #FF6757;
}


/* Specific to View Recipe */
.view-recipe #ingredients, .view-recipe #steps {
  text-align: left; 
  font-size: 20px;
}

.view-recipe #title-content-container {
  min-height: 10vh;
  max-height: 30vh;
  height: inherit;
}

.view-recipe #title-content-container h1 {
  text-transform: uppercase;
  font-size: 3em;
}

@media screen and (max-width: 800px) {
  .home .header {
    background-position: 0px -35px;
  }

  .home h1 {
    font-size: 3em;
    text-align: center;
  }

  .home .header-text {
    text-align: center;
  }

  #settings-icon {
    display: none;
  }

  #menu-icon {
    display: block;
    transform: translateY(80%);
  }

  .home input {
    height: 6vh;
  }
}

@media screen and (max-width: 990px) { 
  .view-recipe #ingredients, .view-recipe #steps {
    text-align: center;
  }
}