body {
	font-family: 'Roboto', sans-serif;
} 

body.add-recipe {
	margin: 35px;
	padding: 40px 60px 40px;
	font-family: Helvetica,Arial,sans-serif;
	width:50%;
 	margin:0 auto;
 	font-size:20px;
} 
header {
	font-size: 36px;
	text-align: center;
	margin-left: -7%;
}
ul {
	list-style-type:none;
	padding:0;
	margin: 0;
}
input[type=text] {
	padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 14px;
    width: 35%;
    text-align: left;
}
input[name=step] {
	width: 90%;
}
#container {
	margin-bottom: 15px;
	margin-top: 30px;
	position:relative;
}
#upload {
	position:absolute;
	width: 350px;
	height: 365px;
	top: 25px;
	left: 355px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-style: dashed;
	border-color: red;
}
button, .button {
	border-style:solid;
	border-color: red;
	padding: 15px;
	font-size:16px;
	margin: 10px 0 15px 0;
	text-align: center;
	display: inline-block;
	background-color:#FFFFFF;
	width:90%;
}
#add-more-ingredients {
	width: 35%;
}

/* Home Page CSS */
.header-text img, #settings-icon, #add-icon {
	height: 1.2em;
}

.home {
	background-color: #f7f8fa;
	font-family: Roboto, sans-serif;
}

.home h1 {
	font-size: 4em;
    letter-spacing: 0px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Fjalla One', sans-serif;
}

.home .container {
	background-color: #fcfcfd;
    box-shadow: 0 0 5px 5px rgba(200,200,200,.05);
    border-radius: 10px;
    margin-top: 20px;
    padding: 0 50px;
}

.home .header {
    background: url("../img/bg.png");
    background-size: 100%;
    background-position: 0px -40px;
    height: 500px;
	display: flex;
    justify-content: center;
    align-items: center;
}

.home .header-text {
	text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #eee;
	color: #ff4431;
}

.home .header .col-lg-6 {
	width: 65%;
}

/*.center-block {
	float: none !important;
}*/


.home .search-form {
	position: relative;
}

.home .search-form input {
	width: 100%;
	/*text-transform: uppercase;*/
	margin: 20px 0px;
    font-size: 26px;
    background-color: rgba(255,255,255,0.75);
    border: none;
}

.home .search-form button {
	position: absolute;
    right: 21px;
    top: 30px;
    background: url("../img/search.svg");
    background-repeat: no-repeat;
    z-index: 2;
    border: none;
    width: 0%;
}

.home .btn {
  -webkit-border-radius: 12;
  -moz-border-radius: 12;
  border-radius: 12px;
  color: #ffffff;
  font-size: 20px;
  background: #ca5848;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  width: 80%;
  letter-spacing: 10px;
}

.home .btn:hover {
  background: #8c4a4a;
  text-decoration: none;
  color: #ffffff;

}

.home .add-recipe {
	text-align: center; 
	padding: 20px;
}

.home .section-header {
	margin-bottom: 10px;
	margin-top: 10px;
}

.home .section-header h1 {
	display: inline-block;
	color: #555;

}



.home h1#add-btn {
	float: right;
}

.home .add-btn {
    font-size: 0.6em;
    text-transform: uppercase;
    color: #ff4431;
}

a.add-btn:hover {
    color: #555;
}

.home .add-btn span {
	vertical-align: middle;
}

.home .recipe-title {
	margin-bottom: 1vw;
    font-size: 30px;
    font-weight: 500;
}

.home .recipe-box {
	padding: 20px 0;
    border-top: 1px solid #eee;
    height: 192px;
}

.home .recipe-button {
	display: inline-block;
}

.home .recipe-button input {
	border: none;
    background-color: transparent;
    font-size: 1.1em;
}

.home #view-recipe-button {
	margin-top: 10px;
}

.home #add-recipe-box {
	text-align: center;
}

.home #add-recipe-box div {
	position: absolute;
    top: 50%;
    transform: translate(20%,-50%);
}

a:hover {
	text-decoration: none !important;
	color: #fff;
}

.home .recipe-text img {
	height: 40px;
}

.recipe-box-image {
	height: 150px;
	width: 200px;
/*    position: absolute;
    clip: rect(0px,200px,150px,0px);*/
}